#card-container{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 30px 20px;
  margin-top: 100px;

}

.trivia-cards{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-flow: column;
  width: 25%;
  min-width: 150px;
  background-color: #188488;
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 5px 10px #0c4648;
  margin: 10px;
}

.trivia-description {
  text-align: center;
}

.trivia-cards button{
  margin: 3px;
  border-radius: 5px;
  background-color: #E66912;
  color: #0B1C48;
  font-weight: bolder;
  font-size: large;
  box-shadow: 2.5px 5px #105c5e;
  cursor: pointer;
}

.trivia-cards button:hover{
  scale: 110%;
}