#mainContainer{
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.656);
  
}

.close{
  align-self: flex-end;
}

.quizContainer{
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  background-color: #188488;
  border-radius: 25px;
  max-width: 50vw;
  max-height: 80vh;
}

.question{
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  max-width: 80;
}

.question h3{
  text-align: center;
}
.question form{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.radio-container{
  min-width: 100%;
  display: flex;
  justify-content: center;

}

label{
  border-radius: 5px;
  margin: 5px;
  border: 3px solid black;
  background-color: #22b3b8;
  box-shadow: 2.5px 5px #0b4345;
}

.left-radio-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 100;
}



.right-radio-btns{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  min-height: 100;
}

.question input{
  display: none;
}

.question label {
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.question label:hover{
  color: aliceblue;
}

.question input:checked + label {
  background-color: #E66912;
}


.answer-submit-btn {
  margin: 25px;
  padding: 10px 20px;
  background-color: #E66912;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 2.5px 5px #0b4345;
  color:#0B1C48;
  width: 100px;
  align-self: center;
}

.answer-submit-btn:hover {
  scale: 110%;
  color: aliceblue;
}

.feedback{
  align-self: center;
}
.listContainer{
  display: flex;
}

.qtList{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.qtList li{
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

