#header{
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  padding: 1px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #E66912;
  width: 100%;
  box-shadow: 0px 10px #00000039;
}

#left-header{
  margin-left: 10px;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 33%;
}

#middle-header{
  width: 33%;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#right-header{
  margin-right: 10px;
  justify-content: end;
  align-items: end;
  text-align: right;
  width: 33%;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #0B1C48;
}

a:hover{
  color: aliceblue;
}