#header{
  margin-top: 0;
  display: flex;
  padding: 1px;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #E66912;
  width: 100%;
}